html,
body {
	height: 100%;
	margin: 0;
	color: #4b4b4d;
	background: aliceblue;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
	display: grid;
	height: 100vh;
	align-items: center;
}

.image {
	background-image: url("/static/images/agape.png");
	height: 75px;
	background-position: center;
	background-repeat: no-repeat;
}
